﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="securepay-ui-container"></div>

<button onclick="mySecurePayUI.tokenise()">Go</button>
<button onclick="mySecurePayUI.reset()">Cancel</button>

<script id="securepay-ui-js" src="https://payments-stest.npe.auspost.zone/v3/ui/client/securepay-ui.min.js"></script>
<!-- Configure the UI component. -->
<script type="text/javascript">
    var mySecurePayUI = new securePayUI.init({
        containerId: 'securepay-ui-container',
        scriptId: 'securepay-ui-js',
        clientId: '0oaxb9i8P9vQdXTsn3l5',
        merchantCode: '5AR0055',
        card: { // card specific config options / callbacks
            showCardIcons: true,
            onTokeniseSuccess: function (tokenisedCard) {
                var defaultAmount = 100;
                var amount = prompt("Please specify amount:", defaultAmount) || defaultAmount;

                $.ajax({
                    url: 'api/process/' + amount,
                    type: "POST",
                    data: JSON.stringify(tokenisedCard),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: onSuccess
                });
            },
            onTokeniseError: function(errors) {
                console.log(error);
            }
        }
    });

    function onSuccess(response) {
        alert(JSON.stringify(response));
    }
</script>